<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="justify-content: space-around;">
    <div class="container" >
      <a class="navbar-brand" href="/"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">FitPulse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Daily Exercies</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Class Time Table</a></li>
              <li><a class="dropdown-item" href="#">Special Exercies</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%=data.user_name%>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user">Dash Board</a></li>
              <li><a class="dropdown-item" href="/login">Log Out</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
<div class="dashboard" style="overflow-x:auto;">
  <div><h1 id="dashboard">DASHBOARD</h1></div>
  <div class="heading">
    <form action="/update" method="get">
        <button type="submit" class="btn btn-dark">Update Info</button>
    </form>
    </div>
   <table>
    <h3><tr>
       <td> NAME</td>
       <td> <%= data.user_name %></td>
    </tr></h3>
    <h3><tr> 
        <td>EMAIL</td>
        <td><%= data.user_mail %></td>
    </tr></h3>
    <h3><tr>
        <td>AGE</td>
        <td><%= data.user_age %>
    </tr></h3>        
    <h3><tr>
        <td>GENDER </td>
        <td><%= data.user_gender %></td>
    </tr></h3> 
    <h3><tr>     
        <td>WEIGHT </td>
        <td><%= data.user_weight %>kg</td>
    </tr></h3>
    <h3><tr>
        <td>HEIGHT </td>
        <td><%= data.user_height %>cm</td>
    </tr></h3>
    <h3><tr>
        <td>BMI</td>
        <td> <%= data.user_bmi %></td>
    </tr></h3>
    <h3><tr>
        <td>STATUS </td>
        <td><%= data.user_status %></td>
    </tr></h3>
    <h3><tr>
        <td>BMI RANGE</td>
        <td><%= data.user_range %></td>
    </tr>
</table>
</div>
<br>
<a id="tablehead" href="/addlog"><button class="btn btn-dark">ADD WORK </button></a>
<% if (log!=0) { %>    
<div class="table" style="overflow-x:auto;">
    <table>
        <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Duration(min)</th>
        <th>Calories Burnt</th>
        </tr>  
            <% for( let i = 0; i < log.rows.length; i++ ) { %>
                <tr>
                    <td><%= log.rows[i].date %></td>
                    <td><%= log.rows[i].activity %></td>
                    <td><%= log.rows[i].duration %></td>
                    <td><%= log.rows[i].cal %></td>
                </tr>
                <% } %>
    </table>
</div>
<% } %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>