<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DASHBOARD</h1>
    <form action="/update" method="post">
        <button type="submit">Update Info</button>
    </form>
    <h3>NAME: <%= data.user_name %></h3>
    <h3>EMAIL: <%= data.user_mail %></h3>
    <h3>AGE: <%= data.user_age %></h3>
    <h3>GENDER: <%= data.user_gender %></h3>
    <h3>WEIGHT: <%= data.user_weight %>kg</h3>
    <h3>HEIGHT: <%= data.user_height %>cm</h3>
    <h3>BMI: <%= data.user_bmi %></h3>
    <h3>STATUS: <%= data.user_status %></h3>
    <h3><%= data.user_range %></h3>
    <table>
        <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Duration</th>
        <th>Calories Burnt</th>
        <a href="/addlog">To add new exercise details</a>
        </tr>
        <% if (log!=0) { %>
            <% for( let i = 0; i < log.rows.length; i++ ) { %>
                <tr>
                    <td><%= log.rows[i].date %></td>
                    <td><%= log.rows[i].activity %></td>
                    <td><%= log.rows[i].duration %></td>
                    <td><%= log.rows[i].cal %></td>
                </tr>
                <% } %>
        <% } %>
    </table>
</body>
</html>